.www{
  text-decoration-line: none;
  color: black;
}
.offcanvas {
    background-color: #FFFFFF;
  }

  .carousel-inner .carousel-item img{
    z-index: 1;
  }

  .carousel-control-next span{
    z-index: 10;
  }

  .home.container-fluid {
    width: auto;
    min-height: 190px;
  }